<!DOCTYPE html>
<html>
<head>
	<title>blog form</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>submit</button>
</form>
</body>
</html>