<!DOCTYPE html>
<html>
<head>
	<title>my site</title>
</head>
<body>
<h3>hello everyone.</h3>
<h2>
	{% if request.user.is_authenticated %}

	Logged in User: {{request.user.username}}<br>

	<a href="{% url 'blog1app:logout' %}">Logout</a><br>

	<h3>Blogs by {{request.user.username}}</h3>
	{% for blog in blogs %}
	<li>{{blog.title}}</li>
	{% endfor %}
	{% else %}
	<a href="{% url 'blog1app:login' %}">Login</a>
	{% endif %}


{% for video in videos %}

<h3>{{video.title}}</h3>
<iframe width="360" height="240" src="https://www.youtube.com/embed/{{video.url}}?ecver=1" frameborder="0" allowfullscreen></iframe>

{% endfor %}

</h2>
</body>
</html>